body, main, section, div, header, footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}

main {
    width: 320px;
    height: 80vh;
    margin: auto;
    background-color: #E2F2F2;
}

section {
    width: 100%;
    margin: auto;
}

#resposta {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
}

#hanoi {
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.torres {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 80%;
    border: 2px solid black;
}

#contador {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.guarismos {
    width: 100%;
    height: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disco {
    height: 12%;
    border: none;
    border-radius: 5px;
}

#d8 {
    width: 90%;
    background-color: black;
}

#d7 {
    width: 80%;
    background-color: brown;
}

#d6 {
    width: 70%;
    background-color: red;
}

#d5 {
    width: 60%;
    background-color: orange;
}

#d4 {
    width: 50%;
    background-color: gold;
}

#d3 {
    width: 40%;
    background-color: rgb(91, 145, 11);
}

#d2 {
    width: 30%;
    background-color: lightseagreen;
}

#d1 {
    width: 20%;
    background-color: #1010ff;
}
.numero_mov {
    display: inline-block;
    border: none;
}



span {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: auto;
    line-height: 40px;
    text-align: center;
    
}

#reinicia {
    display: none;
}

footer {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.5em;
    text-align: center;
}

/* @media (min-width : 769px){
    h1 {
        font-size: 3em;
    }

    main {
        width: 80%;
    }

    span {
        font-size: 1.5em;
    }

    select {
        font-size: .8em;
    }

} */